/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#menu{
	//background:yellow;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: brown;
  text-transform: uppercase;
  font-size: 15px;
}

.logo img{
	width:130px;
}

.navbar-right {
  float: right;
  margin-right: -15px;
  margin-top: 18px;
}


.menu-bg{
  background: #fff;
  
}

.slidersection{
	background-image:url("../img/slider.jpg") ;
}
.item{
	padding:160px 0;
	color:brown;
}

.item h2 {
  border: 1px solid;
  font-size: 100px;
  width: 674px;
  margin: 0 auto;
  padding:10px;
}
.item h3{
	font-size:40px;
}
.item h4{
	font-size:36px;
}

.item span{
	color: green;
}

.carousel-indicators li {
  background-color: #fff;
	
  margin:2px;
  height: 15px;
  width: 15px;
}

.carousel-indicators .active {
  background-color: green;
  border:green;
  height: 15px;
	margin:2px;
  width: 15px;
}

.slideroverlay{
	width:100%;
	 background: rgba(0,0,0,0.5);
	
}

#about{
	color:#030303;
	padding:110px 0;
}

.about-top h2{
	text-transform:uppercase;
	font-weight:bold;
	font-size:36px;
}

.about-top p{
	font-size:16px;
	max-width:700px;
	margin:0 auto;
	margin-bottom:60px;
	line-height: 26px;
}

.about-content{
	
}

.about-icon {
  margin-bottom: 22px;
}

.about-icon i{
	font-size:40px;
}
.about-icon h2{
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
}
.about-icon p {
	  font-size: 16px;
	  line-height: 26px;
}

.about-icon:hover i,
.about-icon:hover h2{
	color:#87d37c;
}


#service {
  background: #98FB98;
  padding: 50px;

}


@media screen and (max-width: 768px) {

  .service-content {
    margin-right: 72px;
  }

}




.service-img img {
    height: 240px;
    width: 100%;
}

.service-img{
	position:relative;
	overflow:hidden;
  margin-bottom:20px;
}

.imageoverlay{
	width:100%;
	position:absolute;
	background:rgba(0,0,0,.8);
	width:100%;
	height:100%;
	top:-100%;
	transition:0.5s;
}

.service-img:hover .imageoverlay{
	top:0;
}
.servicoverlay{
	position:absolute;
	left:37%;
	bottom:-100%;
	
	transition:0.5s;
	
}

.servicoverlay i{
	width:40px;
	height:40px;
	border:1px solid #fff;
	border-radius:100%;
	font-size:18px;
	line-height:40px;
	color:#fff;
	padding-left:9px;
	transition:0.5s;
	
	
	
}

.service-img:hover .servicoverlay{
	bottom:40%;
}


.servicoverlay i:hover{
	background:#87d37c;
	border:1px solid #87d37c;
}



.portfolio{
	padding:100px 0;
}

.portfolio p{
	max-width:700px;
	margin: 0 auto;
	margin-bottom:25px;
}

.portfolio h1{
text-transform:uppercase;
font-weight:bold;
}

.isotop-overlay{
	position:absolute;
	background:rgba(0,0,0,.5);
	width: 100%;
	height:100%;
	top:-100%;
	transition:.5s;
	
}

.isotop-overlay h2{
	color:#87c37d;
	margin-top:150px;
}

.element-item:hover .isotop-overlay{
	top:0;
}




/*ISOTOP*/
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: black;
  border: none;
  border-radius: 7px;
  text-transform:uppercase;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  text-shadow: 0 1px white;
  cursor: pointer;
 margin-bottom:35px;
}

.button:hover {
  background-color: #87d37c;
  
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #87d37c;
}

.button.is-checked {
  color: white;
  
}



/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
 
  border-radius: 0;
  margin-left: 0;
  margin-right: 5px;
}


/* ---- isotope ---- */



/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 33%;
  border:10px solid #fff;
 
  color: #262524;
  overflow:hidden;
}

.element-item img {
    width: 356px;
    height: 330px;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.pricingtable{
	padding:100px 0;
	
	
}

.pricing {
  background: #7e7e7e none repeat scroll 0 0;
  border-radius: 8px;
  color: #fff;
  padding: 20px;
  transition:2s;
  margin-bottom: 20px;
}



ul {
  
  padding: 0px;
}

ul li {
  font-size: 16px;
  list-style: outside none none;
  margin: 0 auto;
  max-width: 153px;
  padding: 12px 0;
}

.pricingtop{
	border:4px solid #fff;
	border-radius:100%;
	width:140px;
	height:140px;
	margin:0 auto;
	transition:2s;
}

.pricingtop p {
  margin-top: 37px;
}

.pricingtop sup{
  font-size:20px;
  top:-3px;
  left:-5px;
}
.pricingtop em{
  font-size:25px;
}



.btn{
	background:#fff;
	color:black;
	text-transform:uppercase;
	margin-top:10px;
	font-weight:bold;
	padding:10px 20px;
	transition:2s;
}


.pricing:hover{
	background:#87d37c;
	color:#fff;
	
}

.pricing:hover .btn{
	background:yellow;
	color:#87d37c;
}

.pricing:hover .pricingtop{
	background:#fff;
	color:#87d37c;
}


.counterup{
	background:url(../img/counter.jpg)repeat;
	margin: 50px 0px 100px 0;
}

.counteroverlay{
	background:rgba(0,0,0,.5);
	width:100%;
}

.counter-content {
  float: left;
  padding: 100px 0;
  width: 100%;
}

.count{
	border:1px solid #fff;
	color:#fff;
	padding:20px 0;
  margin-bottom: 20px;
}

.count span{
	font-size:30px;
}

.count h3{
	font-size:20px;
}

.countoverlay{
	background:rgba(0,0,0,.2);
}


.contactus{
	padding:100px 0;
}

.about-top p{
	padding-top:20px;
}

.contact-content{
  margin-bottom: 20px;
}

.contact-content i {
  color: #232424;
  font-size: 45px;
  line-height: 60px;
}

.contact-content h3{
	font-size:26px;
	font-weight:bold;
}

.contact-content:hover i,
.contact-content:hover h3{
	color:#87d37c;
}
.contact-content i,h3{
	transition:1s;
}

.contact-form{
	padding:80px 0;
	background:#98FB98;
}

#map{
	width:100%;
	height:400px;
}


.scroll{
	width:50px;
	height:45px;
	font-size:30px;
	background:green;
	color:#fff;
	position:fixed;
	bottom:93px;
	right:0px;
}


#footer{
	background:#000;
	padding:30px 0;
	color:white;
}

.footer-text p{
	
}

.footer-icon i {
  font-size: 20px;
  margin-left: 12px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
