@media screen and (max-width: 768px) {

  .service-content {
    margin-right: 72px;
  }

}

@media screen and (max-width: 640px) {

  .item h2{
  	font-size: 60px;
  	max-width: 550px;
  }
  .item h3{
  	font-size: 20px;
  }

  .item h4{
  	font-size: :20px;
  }

  .about-icon{
  	max-width:292px;
  	margin: 30px auto;

  }

  .service-img{
  	max-width:292px;
  	margin: 30px auto;
  }

  .element-item img {
  width: 50%;
}

.pricing{
	max-width:292px;
  	margin: 30px auto;
}

.count{
	max-width:292px;
  	margin: 30px auto;
}
.countoverlay{
	margin: 30px auto;
}


}
